/*****************************************
     Main Menu CSS
******************************************/
#aass{background:#202020 url(http://1.bp.blogspot.com/-b8U7ynwOgew/T4aMcqdmL8I/AAAAAAAAA0I/efl1FhGwIto/s1600/ddddddddddddd.png) repeat-x  ;height:70px;padding:1px 0px 0px 0px}

.main-nav{list-style:none}
main-nav-wrap{margin: 19px 0px 0px 0px
}.ie8 .main-nav-wrap{margin:0}
.main-nav li{
float:left;width:15.5%;
margin-top:-16px;
position:relative;
-moz-transition:background-color 0.4s ease;
-o-transition:background-color 0.4s ease;
-webkit-transition:background-color 0.4s ease;
-ms-transition:background-color 0.4s ease
}
.main-nav li:hover{
background:rgba(0,0,0,0.4);
-moz-transition:background-color 0.1s ease;
-o-transition:background-color 0.1s ease;
-webkit-transition:background-color 0.1s ease;
-ms-transition:background-color 0.1s ease
-moz-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 6px; -webkit-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px;
}
.main-nav a{
border-top: 0 none;
color: white;
display: block;
font-family: 'Oswald',sans-serif;
font-size: 15px;
font-weight:bold;
letter-spacing: 0.5px;
margin-left: -15px;
overflow: hidden;
padding: 10px;
position: relative;
text-align: center;
text-transform: uppercase;
z-index: 2;
}
.ie8
.main-nav a:before{display:none
}.ie8
.main-nav a{padding:10px !important
}
.main-nav span{
display:block;
text-align:center;
font-size:9px;
white-space:nowrap
}
.main-nav .forums a:before{background-position:center -40px
}
.main-nav .snippets a:before{
background-position:center -80px
}
.main-nav .almanac a:before{
background-position:center -160px
}
.main-nav .videos a:before{
background-position:center -120px
}
.main-nav .gallery a:before{
background-position:center -200px
}
.main-nav .downloads a:before
{background-position:center -240px
}
.main-nav .deals a:before
{background-position:center -280px
}
.home .main-nav .articles a,.single-post .main-nav .articles a,.Vanilla .main-nav .forums a,.page-template-page-snippet-cat-php .main-nav .snippets a,.page-template-page-snippet-php .main-nav .snippets a,.page-template-video-archive-php .main-nav .videos a,.page-template-video-single-php
.main-nav .videos a,.page-template-page-almanac-group-php .main-nav .almanac a,.page-template-page-almanac-single-php .main-nav .almanac a,.post-type-archive-screenshot .main-nav .gallery a,.single-screenshot .main-nav .gallery a,.page-template-page-downloads-php .main-nav .downloads a,.page-template-page-deals-php .main-nav .deals a{color:black}
.main-nav li:before{content:"";position:absolute;top:100%;left:0;right:0;height:8px}.ie8 .main-nav li:before{display:none}.page-template-video-archive-php .main-nav .videos,.page-template-video-single-php .main-nav .videos,.main-nav .videos:hover{background:#01b0ec}.page-template-video-archive-php .main-nav .videos:before,.page-template-video-single-php .main-nav .videos:before{background:#0484b0}.home .main-nav .articles,.single-post .main-nav .articles,.main-nav .articles:hover{background:#ef7901}.home .main-nav .articles:before,.single-post .main-nav .articles:before{background:#cf7000}.Vanilla .main-nav .forums,.main-nav .forums:hover{background:#d54421}.Vanilla .main-nav .forums:before{background:#bb2904}.page-template-page-snippet-cat-php .main-nav .snippets,.page-template-page-snippet-php .main-nav .snippets,.main-nav .snippets:hover{background:#98bf0d}.page-template-page-snippet-cat-php .main-nav .snippets:before,.page-template-page-snippet-php .main-nav .snippets:before{background:#87a812}.page-template-page-almanac-group-php .main-nav .almanac,.page-template-page-almanac-single-php .main-nav .almanac,.main-nav .almanac:hover{background:#7449f1}.page-template-page-almanac-group-php .main-nav .almanac:before,.page-template-page-almanac-single-php .main-nav .almanac:before{background:#5531bf}.post-type-archive-screenshot .main-nav .gallery,.single-screenshot .main-nav .gallery,.main-nav .gallery:hover{background:#b147a3}.post-type-archive-screenshot .main-nav .gallery:before,.single-screenshot .main-nav .gallery:before{background:#922a84}.page-template-page-downloads-php .main-nav .downloads,.main-nav .downloads:hover{background:#f6b402}.page-template-page-downloads-php .main-nav .downloads:before{background:#d49b00}.page-template-page-deals-php .main-nav .deals,.main-nav .deals:hover{background:#8d8d8d}.page-template-page-deals-php .main-nav .deals:before{background:#5e5e5e}@-webkit-keyframes nav-1{50%{background:#ef7901}}@-moz-keyframes nav-1{50%{background:#ef7901}}.home .main-nav .articles{-webkit-animation:nav-1 1.5s 1s ease 1;-moz-animation:nav-1 1.5s 1s ease 1}@-webkit-keyframes nav-2{50%{background:#d54421}}@-moz-keyframes nav-2{50%{background:#d54421}}.home .main-nav .forums{-webkit-animation:nav-2 1.5s 1.1s ease 1;-moz-animation:nav-2 1.5s 1.1s ease 1}@-webkit-keyframes nav-3{50%{background:#98bf0d}}@-moz-keyframes nav-3{50%{background:#98bf0d}}.home .main-nav .snippets{-webkit-animation:nav-3 1.5s 1.2s ease 1;-moz-animation:nav-3 1.5s 1.2s ease 1}@-webkit-keyframes nav-4{50%{background:#01b0ec}}@-moz-keyframes nav-4{50%{background:#01b0ec}}.home .main-nav .videos{-webkit-animation:nav-4 1.5s 1.3s ease 1;-moz-animation:nav-4 1.5s 1.3s ease 1}@-webkit-keyframes nav-5{50%{background:#7449f1}}@-moz-keyframes nav-5{50%{background:#7449f1}}.home .main-nav .almanac{-webkit-animation:nav-5 1.5s 1.4s ease 1;-moz-animation:nav-5 1.5s 1.4s ease 1}@-webkit-keyframes nav-6{50%{background:#b147a3}}@-moz-keyframes nav-6{50%{background:#b147a3}}.home .main-nav .gallery{-webkit-animation:nav-6 1.5s 1.5s ease 1;-moz-animation:nav-6 1.5s 1.5s ease 1}@-webkit-keyframes nav-7{50%{background:#f6b402}}@-moz-keyframes nav-7{50%{background:#f6b402}}.home .main-nav .downloads{-webkit-animation:nav-7 1.5s 1.6s ease 1;-moz-animation:nav-7 1.5s 1.5s ease 1}@-webkit-keyframes nav-8{50%{background:#8d8d8d}}@-moz-keyframes nav-8{50%{background:#8d8d8d}}.home .main-nav .deals{-webkit-animation:nav-8 1.5s 1.7s ease 1;-moz-animation:nav-8 1.5s 1.7s ease 1}

/*****************************************
     Blog Post CSS
******************************************/
.post{ -moz-box-shadow: 0px 0px 7px #939390;-webkit-box-shadow: 0px 0px 7px #939390;box-shadow: 0px 0px 7px #939390;
/* For IE 8 */
ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#939390')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#939390');padding: 0px 55px 10px 10px;margin: 0 5px 10px; border:1px solid #FDFDFD;background:#fff;}

.post-title{font-family: 'Oswald', sans-serif;clear: both;color:#333;display: block;font-size: 20px;font-weight: bold;height: auto;line-height: 24px;margin: 0;padding: 0;margin-bottom:6px;text-shadow: none;text-transform: capitalize;width: 100%;border-bottom:1px dashed #ccc}
.post-title a,.post-title a:visited,.post-title strong{text-shadow: 1px 1px 3px #CCCCCC;display:block;text-decoration:none;color:#333;text-decoration:none;}
.post-title strong,.post-title a:hover{color:#153E7E;text-decoration:none;}

.post-body{margin:0px;
padding:0px 0px 0px 0px;
font-family:'Droid Serif', arial, serif;
font-size:14px;
word-wrap:break-word;
line-height: 22px;
color:#000;}

.post h1 {background: none repeat scroll 0 0 #f7f7f7;border:1px solid #CADAE7;line-height: 33px;margin: 5px 0 0px;padding: 0 0 0 10px;}

.post h2 {background: url(http://4.bp.blogspot.com/-ZAtMLwhuQqs/T4MQtfrW2nI/AAAAAAAAAzE/_XRLa3Riqdk/s1600/h2.png) no-repeat 4px center transparent;
font-size: 22px;
font-family: 'Oswald', sans-serif;
font-weight: bold;
padding: 3px 10px 3px 30px;
color: #A5A503;
border: 3px solid #C8C800;
text-shadow: 0 1px 0 #CCC;
-moz-border-radius: 60px;
-webkit-border-radius: 60px;
border-radius: 60px;
-moz-box-shadow: 0 1px 3px #C6C6C6, 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
-webkit-box-shadow: 0 1px 3px #C6C6C6, 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
box-shadow: 0 1px 3px #C6C6C6, 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
margin: 15px 3px;
text-transform: uppercase;
line-height: 1;
border-image: initial;
}

.post h3 {background: url(http://4.bp.blogspot.com/-ZAtMLwhuQqs/T4MQtfrW2nI/AAAAAAAAAzE/_XRLa3Riqdk/s1600/h2.png) no-repeat 4px center transparent;
font-size: 17px;
padding: 8px 3px 10px 30px;
color: #A5A503;
border: 3px solid #363636;
text-shadow: 0 1px 0 #CCC;
-moz-border-radius: 60px;
-webkit-border-radius: 60px;
border-radius: 60px;
-moz-box-shadow: 0 1px 3px #C6C6C6, 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
-webkit-box-shadow: 0 1px 3px #C6C6C6, 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
box-shadow: 0 1px 3px #C6C6C6, 1px 1px 0 rgba(255, 255, 255, 0.4) inset;
margin: 15px 3px;
text-transform: uppercase;
line-height: 1;
border-image: initial;
}
.post h4 {background: url(http://2.bp.blogspot.com/-v3dYXEyC91k/T4kmse4J23I/AAAAAAAAA2o/gfhL92XY57Q/s1600/star.png) no-repeat scroll 5px center transparent;
clear: both;
font-family: 'Oswald', sans-serif;
	color: #662D2D;
	font-size: 26px;
        font-weight:bold;
	line-height: 1.2;
	margin: 25px 5px;
	padding: 6px 10px 2px 40px;
	text-shadow: 0 1px 0 #CCCCCC;
}
.post-footer{margin:5px 0;}



.post ul {list-style:none;}
.post ul li {line-height: 1.4em;background: transparent url(http://4.bp.blogspot.com/-SIzxtuS5HrU/TgX2jub0HzI/AAAAAAAAEi8/CAXs53FBd1I/s1600/bullet-point-image-8.png) no-repeat scroll 0px 4px;margin: 0.3em 0;padding: 0 0 0.8em 20px;}
.imghyperlink {background: url(http://lh3.ggpht.com/-_V_Cg2wdf6s/Tff4VFnzkRI/AAAAAAAAD1c/6hhRoi5aUfc/file_pdf.png) no-repeat 0px 0px;padding:7px 0 0 25px;}


.rmlink a{
    width:162px;
    height:47px;
    float: right;
    display:block;
    line-height:47px;
    text-align:center;
    background:url(http://1.bp.blogspot.com/-i-y9cpDUOgg/T2bJ-_wRyaI/AAAAAAAAAto/oAu3PCtRJ6s/s1600/black.png) no-repeat scroll center center transparent;
    margin:0 auto;
    color:#fff;
}
.post blockquote{
    background: url("http://i.imgur.com/Jls0j.png") no-repeat scroll 0 0 transparent;
    color: #C2C2C2;
    margin: 1em 0 1em 2.6em;
    padding-top: 6px;
    text-indent: 40px;
}
.post-comment-link{
    width:118px;
    height:38px;
    font-size:14px;
    line-height:38px;
    text-align:center;
    display:block;
    background:url(http://1.bp.blogspot.com/-8JGsG4auXhk/Tgsd-ORVtwI/AAAAAAAAA-s/ZVVAzaL8er0/s1600/comments-bg.png) no-repeat scroll 0 0 transparent;
    float:right;
    color:#fff;
}
.post-comment-link a{
    color:#FFF;
    text-decoration:none;
}
a.home-link{
width:162px;
height:52px;
display:block;
line-height:47px;
float:center;
background:url(http://4.bp.blogspot.com/-8uWnzvBsLUI/T2sLJXE1nUI/AAAAAAAAAvI/myY-w6l3J_o/s1600/home-black.png) no-repeat scroll center center transparent;
margin:0 auto;
color:#fff;
}
a.blog-pager-older-link{
width:162px;
height:47px;
display:block;
line-height:47px;
float:right;
background:url(http://4.bp.blogspot.com/-zjVG22h124I/T2sLJv9800I/AAAAAAAAAvQ/9rCO3HHylbE/s1600/Next-black.png) no-repeat scroll center center transparent;
color:#fff;
}
a.blog-pager-newer-link{
width:162px;
height:47px;
display:block;
line-height:47px;
float:left;
background:url(http://3.bp.blogspot.com/-JLqR7BuNeW8/T2sLJsj73NI/AAAAAAAAAvg/8Usb4oqUdro/s1600/Previous-black.png) no-repeat scroll center center transparent;
color:#fff;
}

/*****************************************
     Comments CSS
******************************************/
#comments{-moz-box-shadow: 0px 0px 7px #939390;-webkit-box-shadow: 0px 0px 7px #939390;box-shadow: 0px 0px 7px #939390;
/* For IE 8 */
ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#939390')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#939390');padding-top:10px;padding-bottom:60px;padding-left:10px;padding-right:10px;margin:5px;background:#fff;}
#comments h4 {
font-size: 22px;
font-weight: normal;
margin: 20px 0;
}

.cm_wrap {
clear: both;
margin-bottom: 15px;
float: right;
width: 100%;
}

.cm_head {
margin: 0;
width:60px;
float: left;
}

.cm_avatar {
margin: 0;
vertical-align: middle;
outline: 1px solid #fff;
border: 1px solid #ddd;
padding: 3px;
background-image:  url(http://4.bp.blogspot.com/-sA2gHusLNQM/Ta0e1BCVz9I/AAAAAAAAACk/LINtmB0YQsY/comment_avatar.png);
background-position:center;
background-repeat:no-repeat;
width: 35px;
height: 35px;
}
.cm_avatar_a {
margin: 0;
vertical-align: middle;
border: 1px solid #ddd;
padding: 3px;
background:#336699;
background-position:center;
background-repeat:no-repeat;
width: 35px;
height: 35px;
}

.cm_reply {
padding-top: 5px;
}

.cm_reply a {
display: inline-block;
margin: 0;
padding: 1px 6px;
border: 1px solid #C4C4C4;
border-top-color: #E4E4E4;
border-left-color: #E4E4E4;
color: #424242 !important;
text-align: center;
text-shadow: 0 -1px 0 white;
text-decoration: none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background: #EDEDED;
background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, white), color-stop(1, #E5E5E5) );
background: -moz-linear-gradient( center top, white 20%, #E5E5E5 100% );
font: 11px/18px sans-serif;
}

.cm_reply a:hover {
text-decoration: none !important;;
background: #ccc;;
background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #eeeeee),color-stop(1, #cccccc));;
background: -moz-linear-gradient(center top,#eeeeee 20%,#cccccc 100%);;
}

.cm_entry {
border:2px solid #cecece;
    position:relative;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -goog-ms-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 5px #CCC;
    -webkit-box-shadow: 0px 0px 5px #CCC;
    box-shadow: 0px 0px 5px #CCC;


overflow: hidden;
}
.cm_entry_a {
border:2px solid #cecece;
-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -goog-ms-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 5px #CCC;
    -webkit-box-shadow: 0px 0px 5px #CCC;
    box-shadow: 0px 0px 5px #CCC;
overflow: hidden;
}

.cm_arrow {

}

.cm_info {
margin-bottom: 0px;
border: thin solid #E6E6E6;
background-color: #F4F4F4;
padding: 5px;
}
.cm_info_a {
margin-bottom: 0px;
border: thin solid #E6E6E6;
background-color: #F4F4F4;
padding: 5px;

}


.cm_name {
font-size: 14px;
color: #666666 !important;
text-decoration:none;
font-weight: bold;
float: left;

}
.cm_name_a {
font-size: 14px;
color: #666666 !important;
text-decoration:none;
font-weight: bold;
float: left;

}

.cm_date {
font-size: 12px;
color: #2D5E7B;
font-weight: bold;
text-decoration:none;
float: right;

}
.cm_date_a {
font-size: 12px;
color: #000;
font-weight: bold;
text-decoration:none;
float: right;

}
.cm_entry p {
padding: 5px;
clear: both;
border: thin solid #E6E6E6;
background-color: #FFF;
font-size: 13px;
color: #333;
margin-bottom:0px;
word-wrap:break-word;
}
.cm_entry_a p {
padding: 5px;
clear: both;
border: thin solid #E6E6E6;
background-color:  #f2f2f2;
font-size: 13px;
color: #333;
margin-bottom:0px;
word-wrap:break-word;
}

.cm_pagenavi {
font-size: 10px;
text-transform: uppercase;
color: #666;
text-shadow: 1px 1px white;
font-weight: bold;
}

.cm_pagenavi a {
color: #666;
text-decoration: none;
padding:10px;
}

.cm_pagenavi a:hover {
text-decoration: underline
}

.cm_pagenavi span {
color: #888;
background: white;
padding: 4px;
border: 1px solid #E0E0E0;
}
/* Hide comment form */
h2.trigger2 {
padding-left:50px;
margin-top:5px;
margin-left:10px;
margin-bottom:5px;
background: url(http://2.bp.blogspot.com/-43CcNNY14Ik/T57CC2KogLI/AAAAAAAAA5Y/LxcsUhDhXBk/s1600/h2trigger.png) no-repeat;
height: 46px;
line-height: 46px;
width: 580px;
font-family:"Francois One";
font-size: 1.4em;
font-weight: 400;
text-align:left;
color:#fff;
float: left;
cursor:pointer;
}
h2.trigger2 a {
color: #fff;
text-decoration: none;
display: block;
}
h2.trigger2 a:hover {
color: #ccc;
}
h2.active {
background-position: bottom left;
}
.toggle_container2 {
margin-left:-10px;
padding-left:10px;
border-left:1 solid #e6e6e6;
overflow: hidden;
width: 650px;
clear: both;
}

.abcde{
background:#f9fafb;
width: 567px;
padding-top:10px;
padding-bottom:10px;
padding-left:40px;
padding-right:40px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border:1px solid #e6e6e6;
color:#000;
text-align:left;
line-height: 25px;
margin-bottom:5px;}

/*****************************************
     APS
******************************************/

.aps
{
color: #fff;
font-size: 15px;font-family: Verdana;font-weight: normal;font-style:italic;
background-color: black;
width: 580px;
margin: 5px 10px;
padding: 20px 20px 20px 20px;
border: 2px dotted lightgrey;
border-radius: 10px;
box-shadow: -1px -1px 12px 2px gainsboro;
transition: background-color .777s;
-webkit-transition: background-color .777s;
-moz-transition: background-color .777s;
-o-transition: background-color .777s;
-ms-transition: background-color .777s;
}
.aps:hover
{
background-color: CornflowerBlue ;
color: #000;
}
.aps:active
{
background-color: darkgreen ;
color: #fff;
}